/* Readium CSS 
   Sepia mode

   A preset theme for sepia mode

   Repo: https://github.com/readium/readium-css */


/* CONFIG */

:root[style*="--USER__appearance"][style*="readium-sepia"] {
  --THEME__backgroundColor: #faf4e8;
  --THEME__textColor: #121212;

  --THEME__linkColor: #0000EE;
  --THEME__visitedColor: #551A8B;
}

:root[style*="--USER__appearance"][style*="readium-sepia"] {
  background: var(--THEME__backgroundColor) !important;
  color: var(--THEME__textColor) !important;
}

:root[style*="--USER__appearance"][style*="readium-sepia"] body {
  background-color: transparent;
  color: inherit;
}

:root[style*="--USER__appearance"][style*="readium-sepia"] a:link,
:root[style*="--USER__appearance"][style*="readium-sepia"] a:link * {
  color: var(--THEME__linkColor);
}

:root[style*="--USER__appearance"][style*="readium-sepia"] a:visited,
:root[style*="--USER__appearance"][style*="readium-sepia"] a:visited * {
  color: var(--THEME__visitedColor);
}

/* Disable for proto as there are hardware-, platform- and browser-specific bugs (some or all images won’t render in Blink/Webkit)  
:root[style*="--USER__appearance"][style*="readium-sepia"] svg,
:root[style*="--USER__appearance"][style*="readium-sepia"] img {
  mix-blend-mode: multiply;
}
*/