@import "../ReadiumCSS-config.css";
@import "modules/ReadiumCSS-namespaces.css";
@import "modules/ReadiumCSS-pagination-vertical.css";
@import "modules/ReadiumCSS-scroll-vertical.css";
@import "modules/ReadiumCSS-night_mode.css";
@import "modules/ReadiumCSS-sepia_mode.css";
@import "modules/ReadiumCSS-os_a11y.css";
@import "modules/user-settings-submodules/ReadiumCSS-lineLength-vertical_pref.css";
@import "modules/user-settings-submodules/ReadiumCSS-customColors_pref.css";
@import "modules/user-settings-submodules/ReadiumCSS-fontFamily_pref.css";
@import "modules/user-settings-submodules/ReadiumCSS-fontSize_pref.css";
@import "modules/user-settings-submodules/ReadiumCSS-lineHeight_pref.css";
@import "modules/user-settings-submodules/ReadiumCSS-paraSpacing-vertical_pref.css";
@import "modules/user-settings-submodules/ReadiumCSS-variableFont_pref.css";
@import "modules/ReadiumCSS-fs_normalize.css";