<nav>
  <ol>
    <li><a href="docs/CSS01-readium_fundamentals.html">Readium CSS Fundamental Concepts</a></li>
    <li><a href="docs/CSS02-quickstart.html">Quickstart</a></li>
    <li><a href="docs/CSS03-injection_and_pagination.html">Inject and paginate EPUB contents</a></li>
    <li><a href="docs/CSS04-multicolumn_layout.html">How the multicolumn layout works</a></li>
    <li><a href="docs/CSS05-reflow_requirements.html">Reading Systems Requirements for reflowable text</a></li>
    <li><a href="docs/CSS06-stylesheets_order.html">Order in which to append Readium CSS reflowable stylesheets</a></li>
    <li><a href="docs/CSS07-variables.html">How to use CSS custom properties (a.k.a. variables)</a></li>
    <li><a href="docs/CSS08-defaults.html">Defaults</a></li>
    <li><a href="docs/CSS09-default_fonts.html">Typefaces and font-stacks</a></li>
    <li><a href="docs/CSS10-libre_fonts.html">Open Source and Libre Fonts We Can Recommend</a></li>
    <li><a href="docs/CSS11-overrides_classification.html">User Overrides’ Classification</a></li>
    <li><a href="docs/CSS12-user_prefs.html">User Settings, Reading Modes and Themes</a></li>
    <li><a href="docs/CSS13-a11y_settings_baseline.html">Baseline for a11y-related user settings</a></li>
    <li><a href="docs/CSS14-user_settings_recs.html">Recommendations for User Settings Management</a></li>
    <li><a href="docs/CSS15-user_prefs_insights.html">User Preferences’ insights</a></li>
    <li><a href="docs/CSS16-internationalization.html">Internationalization</a></li>
    <li><a href="docs/CSS17-i18n_typography.html">Internationalization – A Typography Primer</a></li>
    <li><a href="docs/CSS18-further_details.html">Readium CSS Further Details: Explaining the CSS Voodoo</a></li>
    <li><a href="docs/CSS19-api.html">Readium CSS Variables API</a></li>
    <li><a href="docs/CSS20-spec_impact.html">List of proposals and specs impacting Readium CSS</a></li>
    <li><a href="docs/CSS21-epub_compat.html">EPUB Compatibility</a></li>
    <li><a href="docs/CSS22-npm.html">Install, test and build Readium CSS</a></li>
    <li><a href="docs/CSS23-fxl_requirements.html">Fixed-layouts’ Reading Systems Requirements</a></li>
    <li><a href="docs/CSS24-eprdctn_requests.html">E-production feedback and requests</a></li>
    <li><a href="docs/CSS25-performance_hacks.html">CSS Performance Hacks</a></li>
    <li><a href="docs/CSS26-i18n_glossary.html">i18n glossary</a></li>
  </ol>
</nav>