/* Readium CSS 
   A11y font pref

   A submodule managing a11y text normalization for user settings
   Part of “User Overrides” class – “readium-font-on” flag required.

   Repo: https://github.com/readium/readium-css */

/* For AccessibleDfa, we need to normalize font-weight and font-style since only the normal style is available */

:root[style*="readium-font-on"][style*="AccessibleDfa"] {
  /* We won’t use the variable there since we need fallbacks for missing characters */
  font-family: "AccessibleDFA", Verdana, Tahoma, "Trebuchet MS", sans-serif !important;
}

/* Maybe users want a setting to normalize any font offered so there is a "--USER__a11yNormalize: readium-a11y-on" flag for it */

:root[style*="readium-font-on"][style*="AccessibleDfa"],
:root[style*="readium-font-on"][style*="readium-a11y-on"] {
  font-weight: normal !important;
  font-style: normal !important;
}

/* Targeting everything except code. Note that Open Dyslexic has a monospaced font for code */
:root[style*="readium-font-on"][style*="AccessibleDfa"] *:not(code):not(var):not(kbd):not(samp),
:root[style*="readium-font-on"][style*="readium-a11y-on"] *:not(code):not(var):not(kbd):not(samp) {
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
}

/* Normalizing text-decoration, subs and sups */
:root[style*="readium-font-on"][style*="AccessibleDfa"] *,
:root[style*="readium-font-on"][style*="readium-a11y-on"] * {
  text-decoration: none !important;  
  font-variant-position: normal !important;
  font-variant-numeric: normal !important;
}

:root[style*="readium-font-on"][style*="AccessibleDfa"] sup,
:root[style*="readium-font-on"][style*="readium-a11y-on"] sup,
:root[style*="readium-font-on"][style*="AccessibleDfa"] sub,
:root[style*="readium-font-on"][style*="readium-a11y-on"] sub {
  font-size: 1rem !important;
  vertical-align: baseline !important;
}