/* Readium CSS
   Font weight pref

   A submodule managing font weight for user settings
   Part of “User Overrides” class – “font override” flag required.

   Repo: https://github.com/readium/readium-css */

:root:--font-override[style*="--USER__fontWeight"] body {
  font-weight: var(--USER__fontWeight) !important;
}

/* Attempt to handle known strongs */
:root:--font-override[style*="--USER__fontWeight"] b,
:root:--font-override[style*="--USER__fontWeight"] strong {
  font-weight: bolder;
}