/* Readium CSS 
   Sepia mode

   An preset theme for sepia mode

   Repo: https://github.com/readium/readium-css */


/* CONFIG */

:root {
  --THEME__backgroundColor: #faf4e8;
  --THEME__textColor: #121212;

  --THEME__linkColor: #0000EE;
  --THEME__visitedColor: #551A8B;
}

/* STYLES */

:root {
  background: var(--THEME__backgroundColor) !important;
  color: var(--THEME__textColor) !important;
}

:root body {
  background-color: transparent;
  color: var(--THEME__textColor);
}

:root a:link,
:root a:link * {
  color: var(--THEME__linkColor);
}

:root a:visited,
:root a:visited * {
  color: var(--THEME__visitedColor);
}

:root svg,
:root img {
  mix-blend-mode: multiply;
}