/* Readium CSS 
   A11y font pref

   A submodule managing a11y text normalization for user settings
   Part of “User Overrides” class – “font override” flag required.

   Repo: https://github.com/readium/readium-css */

/* For AccessibleDfa, we need to normalize font-weight and font-style since only the normal style is available */

:root:--font-override:--a11y-font {
  /* We won’t use the variable there since we need fallbacks for missing characters */
  font-family: AccessibleDFA, Verdana, Tahoma, "Trebuchet MS", sans-serif !important;
}

/* Maybe users want a setting to normalize any font offered so there is a “a11y Normalize” flag for it */

:root:--font-override:--a11y-font,
:root:--font-override:--a11y-normalize {
  font-weight: normal !important;
  font-style: normal !important;
}

/* Targeting everything except code. Note that Open Dyslexic has a monospaced font for code */
:root:--font-override:--a11y-font *:not(code):not(var):not(kbd):not(samp),
:root:--font-override:--a11y-normalize *:not(code):not(var):not(kbd):not(samp) {
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
}

/* Normalizing text-decoration, subs and sups */
:root:--font-override:--a11y-font *,
:root:--font-override:--a11y-normalize * {
  text-decoration: none !important;  
  font-variant-position: normal !important;
  font-variant-numeric: normal !important;
}

:root:--font-override:--a11y-font sup,
:root:--font-override:--a11y-normalize sup,
:root:--font-override:--a11y-font sub,
:root:--font-override:--a11y-normalize sub {
  font-size: 1rem !important;
  vertical-align: baseline !important;
}