/* Readium CSS
   Font Family pref

   A submodule managing font-family for user settings
   Part of “User Overrides” class – “font override” flag required.

   Repo: https://github.com/readium/readium-css */

:root:--font-override[style*="--USER__fontFamily"] {
  font-family: var(--USER__fontFamily) !important;
}

:root:--font-override[style*="--USER__fontFamily"] *:not(code):not(var):not(kbd):not(samp) {
  font-family: inherit !important;
}