/* Readium CSS
   Theming module

   A stylesheet to enforce link colors
   This is intended to make it easier to create custom themes
   without having to rely on preset modes as a base to override

   Repo: https://github.com/readium/readium-css */

/* Color of links (:link + :visited) */

:root[style*="--USER__linkColor"] a:link,
:root[style*="--USER__linkColor"] a:link * {
  color: var(--RS__linkColor) !important;
}
   
:root[style*="--USER__visitedColor"] a:visited,
:root[style*="--USER__visitedColor"] a:visited * {
  color: var(--RS__visitedColor) !important;
}

/* Color of ::selection */
/* This differs from the implementation inherited in (default) day mode 
   as it is using !important and will override authors’ styles. */

:root[style*="--USER__selectionBackgroundColor"][style*="--USER__selectionTextColor"] ::-moz-selection {
  background-color: var(--RS__selectionBackgroundColor) !important;
  color: var(--RS__selectionTextColor) !important;
}

:root[style*="--USER__selectionBackgroundColor"][style*="--USER__selectionTextColor"] ::selection {
  background-color: var(--RS__selectionBackgroundColor) !important;
  color: var(--RS__selectionTextColor) !important;
}