/* Readium CSS
   Text align pref

   A submodule managing text-align for user settings
   Part of “User Overrides Advanced” class – “advanced settings” flag required.

   Repo: https://github.com/readium/readium-css */

:root:--advanced-settings[style*="--USER__textAlign"] {
  text-align: var(--USER__textAlign);
}

:root:--advanced-settings[style*="--USER__textAlign"] body,
:root:--advanced-settings[style*="--USER__textAlign"] *:not(blockquote):not(figcaption) p,
:root:--advanced-settings[style*="--USER__textAlign"] li {
  text-align: var(--USER__textAlign) !important;
  -moz-text-align-last: auto !important;
  -epub-text-align-last: auto !important;
  text-align-last: auto !important;
}