/* Readium CSS
   Columns number pref

   A submodule managing columns number for user settings
   Part of “Chrome Advanced” class – no flag required.

   Repo: https://github.com/readium/readium-css */

/* Number of columns */

:root[style*="--USER__colCount"] {
  -webkit-column-count: var(--USER__colCount);
  -moz-column-count: var(--USER__colCount);
  column-count: var(--USER__colCount);

  --RS__colWidth: auto;
}

/* If zero column, protect against it */
:root[style*="--USER__colCount: 0"],
:root[style*="--USER__colCount:0"] {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

/* If one column, make sure we limit line-length */
:root[style*="--USER__colCount: 0"],
:root[style*="--USER__colCount:0"],
:root[style*="--USER__colCount: 1"],
:root[style*="--USER__colCount:1"] {
  --RS__defaultLineLength: 40rem !important; /* This is the only way for the user setting to work in webkit… */
  --RS__colWidth: 100vw;
}